.container {
background: whitesmoke;
}
.action-container {
width: 96%;
}
.user-option {
    outline: none;
    background: #3E863E;
    border: 1px solid rgb(2, 145, 2);
    text-align: center;
    font-size: 14px;
    padding: 4px;
    margin: 10px;
    color: white;
}
.connected .user-option.disconnect-button, .user-option.connect-button{
    background: #830909;
    cursor: pointer;
}
.connected .user-option.connect-button {
    background: #3E863E;
    cursor: text;
}

.user-data-out {
padding-left: 10px !important;
}
.data-row > div {
width: 100%;
padding: 4px 0px;    
}
.new-record {
    width: 80%;
    font-size: 15px;
}
.user-data{
    margin: 8px 0px;
    font-size: 13px;
}

.disable .user-data {

border: none;
background: transparent;
resize: none;
}

.empty-Vline {
height: 39px;
width: 1px;
background: rgb(148, 148, 148);
}
.option-button {
background: rgb(102, 102, 105);
padding: 7px 10px;
color: white;
margin: 5px;
cursor: pointer;
}
select.select-option-style {
font-size: 13px;
}
select.select-option-style.pincode {
width: 40px;
max-width: 77px;
}
select.select-option-style.location {
max-width: 180px;
}

user-data-fields {
    margin-bottom: 2px;
    background: rgb(231, 230, 230);
}
user-data-fields > div.connected {
    background: #C3E6C4;
}
@media (max-width: 960px) {
    .new-record {
        width: 95%;
    }  
}


.testapp {
    background: #4CAF50;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 180px;
    float: left;
    text-align: center;
    border-radius: 10px;
    line-height: 27px;
}

.testapp:hover {
    background: #14C31B;
}
#googleMap{
    min-height: 400px;
}
.content > div{
    padding: 10px;
    width: 100%;
}
.personal-detail img {
    max-width: 50px;
    border-radius: 25px;
}
.hr-line {
    width: 100%;
    height: 1px;
    background: #B1ADAD;
    margin-top: 10px;
    box-shadow: 1px 5px 10px black;
}
.detail {
    margin-left: 20px;
}
.data-section {
margin-top: 20px;
}
.loader {
color: white;
background: rgba(36, 96, 103, 0.43);
padding: 2px 2px 2px 9px;
visibility: hidden;
border-radius: 6px;
}
.loader.loading{
visibility: visible;
}
.photo-gallery {
border: 1px solid rgba(150, 150, 150, 0.4);
border-radius: 1px;
}
.gallery-item > img {
width: 144px;
float: left;
margin: 5px 6px;
}