<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html>
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Instagram API Testing</title>

    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAddhtJ9y761EjLnfQy9IW3PnvuRanvc80"></script>
    <script src="./../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./../bower_components/angular/angular.min.js"></script>
    <script src="./../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="./../bower_components/angular-socket-io/mock/socket-io.js"></script>
<!--    <script src="bower_components/angular-socket-io/socket.js"></script>
    <script src="bower_components/angular-socket-io/mock/socket-io.js"></script>-->

    <script src="./../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="./../bower_components/angular-material/angular-material.min.js"></script>
    <script src="./../bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="./../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="./../bower_components/angular-messages/angular-messages.min.js"></script>
    <link rel="stylesheet" href="./../bower_components/angular-material/angular-material.min.css">
    
    <script src="./js/googleMap.js"></script> <!-- load up our controller -->
	<script src="./js/filters/filter.js"></script> <!-- load up our controller -->
    <script src="./js/controllers/main.js"></script> <!-- load up our controller -->
	<script src="./js/controllers/main.js"></script> <!-- load up our controller -->
	<script src="./js/core.js"></script> <!-- load our main application -->
    
    <link rel="stylesheet" href="./css/style.css">

</head>
<body ng-app="mainApp" ng-controller="mainController" >
    <div ng-if="!isAPIReady">
        <div> Please accept to see the required output</div>
        <a class="testapp" href="https://api.instagram.com/oauth/authorize/?client_id=fe1a339d0c6a4dbf84ce3dc7299230cc&redirect_uri=http://localhost:8000/&response_type=token&scope=public_content">Connect to instagram</a>
    </div>

    <div class="content" layout-sm="column" layout="row" layout-align="center start">
        <div ng-if="isAPIReady" class="user-detail" flex flex-order-sm="2">
            <div class="personal-detail" layout="row" layout-align="start center">
                <img ng-src="{{user.profile_picture}}">
                <div class="detail" layout="column" layout-align="start start">
                    <div>Name : {{user.full_name}}</div>
                    <div>User Name : {{user.username}}</div>
                </div>
                
            </div>
            <div class="hr-line"></div>

            <div class="data-section">
                <div ng-class="{loading : isLoadingPhotos}" class="loader">
                    <img ng-src="image/laoder.gif">
                    <span>Loading...</span>
                </div>
                <div class="photo-gallery">
                    <div ng-show="photos.length == 0 && !isLoadingPhotos" class="info">No data is found at this location.</div>
                    <div class="gallery-item" ng-repeat="image in photos track by $index">
                        <img ng-src="{{image}}">
                    </div>
                </div>
            </div>

        </div>
        <div flex flex-order-sm="1">
            <div id="googleMap"></div>
        </div>
    </div>
</body>
</html>
